{
  "globals": {
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "describe": true,
    "chai": true,
    "chaiHttp": true,
    "waitPort": true,
    "server": true,
    "enableTestResponseLogging": true,
    "testUserOne": true,
    "testUserTwo": true,
    "testUserThree": true,
    "testUserFour": true,
    "testConversationOne": true,
    "testConversationTwo": true,
    "testConversationThree": true,
    "testConversationOneUserOne": true,
    "testConversationOneMessageOne": true,
    "testConversationOneMessageOneReactionOne": true,
    "testConversationOneRepostOne": true,
    "testPermissionsPublicConversation": true,
    "testPermissionsPublicConversationMessageOne": true,
    "testPermissionsPublicConversationAdminUser":  true,
    "testPermissionsPublicConversationGeneralUser": true,
    "testPermissionsPublicConversationPermissionlessUser": true,
    "testPermissionsPublicConversationAdminConversationUser": true,
    "testPermissionsPublicConversationGeneralConversationUser": true,
    "testPermissionsPublicConversationPermissionlessConversationUser": true,
    "testPermissionsProtectedConversation": true,
    "testPermissionsProtectedConversationMessageOne": true,
    "testPermissionsProtectedConversationAdminUser":  true,
    "testPermissionsProtectedConversationGeneralUser": true,
    "testPermissionsProtectedConversationPermissionlessUser": true,
    "testPermissionsProtectedConversationAdminConversationUser": true,
    "testPermissionsProtectedConversationGeneralConversationUser": true,
    "testPermissionsProtectedConversationPermissionlessConversationUser": true,
    "testPermissionsPrivateConversation": true,
    "testPermissionsPrivateConversationMessageOne": true,
    "testPermissionsPrivateConversationAdminUser":  true,
    "testPermissionsPrivateConversationGeneralUser": true,
    "testPermissionsPrivateConversationPermissionlessUser": true,
    "testPermissionsPrivateConversationAdminConversationUser": true,
    "testPermissionsPrivateConversationGeneralConversationUser": true,
    "testPermissionsPrivateConversationPermissionlessConversationUser": true,
    "testAttachmentOne": true,
    "testEmbedOne": true,
  },
}
