{
  "globals": {
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "describe": true,
    "chai": true,
    "chaiHttp": true,
    "waitPort": true,
    "server": true,
    "enableTestResponseLogging": true,
    "testUserOne": true,
    "testUserTwo": true,
    "testUserThree": true,
    "testUserFour": true,
    "testRoomOne": true,
    "testRoomTwo": true,
    "testRoomThree": true,
    "testRoomOneUserOne": true,
    "testRoomOneMessageOne": true,
    "testRoomOneMessageOneReactionOne": true,
    "testRoomOneRepostOne": true,
    "testPermissionsPublicRoom": true,
    "testPermissionsPublicRoomMessageOne": true,
    "testPermissionsPublicRoomAdminUser":  true,
    "testPermissionsPublicRoomGeneralUser": true,
    "testPermissionsPublicRoomPermissionlessUser": true,
    "testPermissionsPublicRoomAdminRoomUser": true,
    "testPermissionsPublicRoomGeneralRoomUser": true,
    "testPermissionsPublicRoomPermissionlessRoomUser": true,
    "testPermissionsProtectedRoom": true,
    "testPermissionsProtectedRoomMessageOne": true,
    "testPermissionsProtectedRoomAdminUser":  true,
    "testPermissionsProtectedRoomGeneralUser": true,
    "testPermissionsProtectedRoomPermissionlessUser": true,
    "testPermissionsProtectedRoomAdminRoomUser": true,
    "testPermissionsProtectedRoomGeneralRoomUser": true,
    "testPermissionsProtectedRoomPermissionlessRoomUser": true,
    "testPermissionsPrivateRoom": true,
    "testPermissionsPrivateRoomMessageOne": true,
    "testPermissionsPrivateRoomAdminUser":  true,
    "testPermissionsPrivateRoomGeneralUser": true,
    "testPermissionsPrivateRoomPermissionlessUser": true,
    "testPermissionsPrivateRoomAdminRoomUser": true,
    "testPermissionsPrivateRoomGeneralRoomUser": true,
    "testPermissionsPrivateRoomPermissionlessRoomUser": true,
    "testAttachmentOne": true,
    "testEmbedOne": true,
    "mqttConnection": true,
  },
}
