{
  "globals": {
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "describe": true,
    "chai": true,
    "chaiHttp": true,
    "waitPort": true,
    "server": true,
    "enableTestResponseLogging": true,
    "testUserOne": true,
    "testUserTwo": true,
    "testUserThree": true,
    "testConversationOne": true,
  },
}
